<!DOCTYPE html>
<html>
<head>
    <title>MOVIE ARCIVING PROJECT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
</head>
<body>
<table>
    <tr>
    <td>
        <label>MOVIE ARCHIVE MODIFICATION</label>
    </td>
    <td>
        <a id="crudlink" target="_blank"  href="http://localhost:8080/crud"> Click to create,read,update or delete movie for your archive</a>
    </td>
</tr>

    <tr>
        <td>
            <label>MOVIE ARCHIVE SEARCH</label>
        </td>
        <td>
            <a id="searchlink" target="_blank"  href="http://localhost:8080/search"> Click to search your archive</a>
        </td>
    </tr>

    <tr>
        <td>
            <label>MOVIE GENRE MODIFICATION</label>
        </td>
        <td>
            <a id="genrelink" target="_blank"  href="http://localhost:8080/genre"> Click to add new genres</a>
        </td>
    </tr>

</table>
</body>
</html>